<a href="#" class="mx-auto">
  <div class="card p-4 my-4" style="max-width: 700px;">
    <div class="row">
      <div class="col-4">
        <img src="images/hero.jpg" alt="Placeholder Image" width="100%" height="100%" class="rounded" style="object-fit: cover;">
      </div>
      <div class="col-8">
        <h4 class="m-0">Title</h4>
        <small class="m-0">Date Published</small>
        <p class="m-0" style="font-weight: 500;">Written by: Author</p>
        <hr>
        <p class="m-0">Extract</p>
      </div>
    </div>
  </div>
</a>
