<div class="bg-white py-5">
  <div id="about" class="container py-5 flex-desktop">
    <div class="col-lg-8 p-0">
      <div class="card shadow p-5">
        <div class="col-xl-8 p-0">
          <h2 class="mb-4 text-center text-lg-left">
            About Me
          </h2>
          <p class="mb-4 py-3 text-center text-lg-left">
            My name is Pierre-Olivier Trottier. I am a software developer, graphic designer, and music producer based in Montreal, Canada.
            <br><br>
            I studied Software Engineering at Concordia University in Montreal and was part of the CO-OP program. I have had the chance to work for multiple awesome companies such as Ubisoft and Olympus Scientific Solution.
          </p>
          <div class="row m-0">
            <div class="col-sm-8 p-0 text-center text-sm-left">
              <a class="btn btn-primary rounded-pill px-4 py-3 mb-4 mb-sm-0 text-white text-uppercase"
                 target="_blank"
                 href="documents/resume.pdf">
                Download My Resume
              </a>
            </div>
            <div class="col-sm-4 p-0 mt-3 align-self-center text-center text-sm-right pr-sm-4">
              <a href="https://github.com/po-trottier" target="_blank" class="ml-md-auto">
                <i class="mdi mdi-36px mdi-github-circle text-primary" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 p-0 align-self-center d-none d-lg-block">
      <img draggable="false" src="/images/profile.jpeg" alt="Profile Picture" class="rounded shadow adaptive-picture">
    </div>
  </div>
</div>
