<div id="top">
  <img draggable="false" src="images/hero.jpg" alt="Hero Image" class="hero">
  <div class="col text-center text-white" style="position: absolute; top: 50%; transform: translateY(-50%);">
    <img draggable="false" src="/images/logo.svg" alt="Personal Logo" height="150px" width="150px" class="mb-4">
    <h1 class="mb-3">Pierre-Olivier Trottier</h1>
    <h5>Software Developer • Graphic Designer • Music Producer</h5>
    <br>
    <a data-scroll href="/#contact" class="btn btn-outline-light rounded-pill px-5 py-3 mt-3">
      <b>Contact Me</b>
    </a>
  </div>
</div>
