<div class="bg-white py-5">
  <div id="projects" class="container py-4">
    <h2 class="mb-5 text-center">Projects</h2>
    <div class="row">
      <div class="col-lg-6 py-3">
        <div class="card">
          <div class="row m-0">
            <div class="col-6 p-0">
              <img class="border border-light" src="images/ch-beta.png" alt="ChargeHub Beta Screenshot" height="100%" width="100%" style="object-fit: cover;">
            </div>
            <div class="col-6 p-4 align-self-center">
              <h5>Chargehub Beta</h5>
              <p style="font-weight: 500;">Enterprise-Level Web App</p>
              <p class="mb-3">
                I was responsible for the architecture and development of ChargeHub's Beta website. It runs in a Docker container on the Azure Cloud Platform.
              </p>
              <a href="https://beta.chargehub.com/" target="_blank">
                <i class="mdi mdi-link text-primary"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 py-3">
        <div class="card">
          <div class="row m-0">
            <div class="col-6 p-0">
              <img class="border border-light" src="images/instaclone.png" alt="Instaclone Screenshot" height="100%" width="100%" style="object-fit: cover;">
            </div>
            <div class="col-6 p-4 align-self-center">
              <h5>Instaclone</h5>
              <p style="font-weight: 500;">Firebase</p>
              <p class="mb-3">
                I lead a team of 5 students that built an Instagram Clone using a Vue.JS front-end and a Firebase back-end. I also contributed and wrote a good part of the code behind the project.
              </p>
              <a href="https://soen341-instaclone.web.app/" target="_blank">
                <i class="mdi mdi-link text-primary"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 py-3">
        <div class="card">
          <div class="row m-0">
            <div class="col-6 p-0">
              <img class="border border-light" src="images/template.png" alt="VueJS Template Screenshot" height="100%" width="100%" style="object-fit: cover;">
            </div>
            <div class="col-6 p-4 align-self-center">
              <h5>VueJS Template</h5>
              <p style="font-weight: 500;">VueJS CLI</p>
              <p class="mb-3">
                I created a simple material design focused VueJS CLI template to help any new-comers start with a solid base that follows the preferred VueJS patterns.
              </p>
              <span>
                <a href="https://template.p-o.design/" target="_blank">
                  <i class="mdi mdi-link text-primary"></i>
                </a>
                <a href="https://github.com/po-trottier/vuejs-material-template" target="_blank" class="ml-2">
                  <i class="mdi mdi-github-circle text-primary"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 py-3">
        <div class="card">
          <div class="row m-0">
            <div class="col-6 p-0">
              <img class="border border-light" src="images/sylviesamson.png" alt="Client Website Screenshot" height="100%" width="100%" style="object-fit: cover;">
            </div>
            <div class="col-6 p-4 align-self-center">
              <h5>Client Website</h5>
              <p style="font-weight: 500;">VueJS Web App</p>
              <p class="mb-3">
                I built a website from the ground up for a company. The website was meant to re-create a WIX-based website and improve it where possible.
              </p>
              <span>
                <a href="https://www.sylviesamson.com" target="_blank">
                  <i class="mdi mdi-link text-primary"></i>
                </a>
                <a href="https://github.com/po-trottier/is-subtree" target="_blank" class="ml-2">
                  <i class="mdi mdi-github-circle text-primary"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
