<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="x-ua-compatible" content="IE=10">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Flask API Template</title>
</head>
<body style="height: 100vh; width: 100vw; background-image: url('https://images.unsplash.com/photo-1491308056676-205b7c9a7dc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
  <div class="container p-5 d-flex h-100">
    <div class="card shadow row justify-content-center align-self-center mx-auto" style="max-width: 600px;">
      <div class="card-body">
        <h1 class="card-title">
          Welcome to the
          <br>
          <strong>Flask API Template</strong>
        </h1>
        <hr>
        <div class="card-text">
          <p class="mb-2 text-justify">
            For more information about the API, you can view the documentation and the source code at the two links below.
          </p>
          <p class="mb-2 text-justify">
            If you wish to test the authentification, you can visit the <a href="/login"><strong>login</strong></a> and <a href="/register"><strong>register</strong></a> routes. 
            <b><i>You will need to send a POST request in order to have access to either of these routes.</i></b> For more information, read the documentation.
          </p>
          <p class="mb-3 text-justify">
            You can also see a list of all registered users at <a href="/users"><strong>this route</strong></a>.
          </p>
          <a href="https://github.com/po-trottier/flask-server-template/blob/master/README.md" target="_null" class="btn btn-primary mt-2 mr-2">
            Documentation
          </a>
          <a href="https://github.com/po-trottier/flask-server-template" target="_null" class="btn btn-secondary mt-2">
            Source Code
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
