#top {
  position: relative;
}

.fill-height {
  min-height: 100vh;
  position: relative;
}

.header {
  position: sticky; 
  top: 0; 
  z-index: 10;
}

.content {
  padding-bottom: 360px;
}

.footer {
  height: 360px; 
  width: 100%;
  position: absolute; 
  bottom: 0; 
}

.footer-content {
  height: 303px;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.pointer {
  cursor: pointer;
}

.hero {
  height: 100vh;
  width: 100%;
  margin-top: -75px;
  object-fit: cover;
}

.hero-content {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%);
}

.extract {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.flex-desktop {
  display: flex;
}

.adaptive-picture {
  max-height: 400px;
  transform: translateX(-225px)
}

@media screen and (max-width: 1199px) {
  .adaptive-picture {
    height: 375px;
    width: 350px;
    object-fit: cover;
    object-position: right;
    transform: translateX(-40px)
  }
}

@media screen and (max-width: 991px) {
  .flex-desktop {
    display: block;
  }
  .footer-content {
    height: 351px;
  }
}

@media screen and (max-width: 767px) {
  .footer-content {
    height: 504px;
  }
}
