<!DOCTYPE html>
<head lang="en">
  <!––Page Title––>
  <title>
    Developer for Hire | Pierre-Olivier Trottier
  </title>

  <!––Meta Information––>
  <meta charset="utf-8">
  <meta name="description" content="My name is Pierre-Olivier Trottier. I am a software developer, graphic designer, and music producer based in Montreal, Canada. I studied Software Engineering at Concordia University in Montreal and was part of the CO-OP program. I have had the chance to work for multiple awesome companies such as Ubisoft and Olympus Scientififc Solution.">
  <meta name="author" content="Pierre-Olivier Trottier">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="x-ua-compatible" content="IE=10">

  <!––FavIcon Import––>
  <link rel="icon" href="/favicon.svg">

  <!––Bootstrap Import––>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!––Font Import––>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&display=swap">
  <!––Icons Import––>
  <link rel="stylesheet" href="https:////cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">

  <!––Custom CSS Import––>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/mdi.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="fill-height bg-light">
    <header class="header">
      {% include 'components/header.html' %}
    </header>
    <section class="content">
      {% block content %}{% endblock %}
    </section>
    <div id="flash">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div>
            {% for message in messages %}
              <div id="flash-{{ loop.index }}" class="card bg-primary p-3 mb-2" style="min-width: 500px;">
                <div class="row">
                  <div class="col-11">
                    <span class="text-white text-center" style="max-width: 600px;">{{ message }}</span>
                  </div>
                  <button class="col-1 px-0 btn py-0" onclick="document.getElementById('flash-{{ loop.index }}').remove()">
                    <i class="mdi mdi-close text-white mx-auto"></i>
                  </button>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    </div>
    <footer class="footer">
      {% include 'components/footer.html' %}
    </footer>
  </div>

  <!––Bootstrap JS Import––>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!––Custom Javascript File––>
  <script>
    // Hide Hamburger menu on Click
    $('.navbar-collapse a').click(function() {
        $(".navbar-collapse").collapse('hide');
    });
    // Add smooth scrolling to all links
    $(document).ready(function(){
      $("a").on('click', function(event) {
        try {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;
            $('html, body').animate({
              scrollTop: $(hash).offset().top - 77
            }, 800, 'easeInOutCubic');
          }
        } catch(err) {
          window.location.href = event.target.href;
        }
      });
    });
  </script>
</body>
