{% extends "base.html" %}
{% block content %}
  <div class="py-5 container">
    <div class="w-100 mb-5" style="text-align-last: justify">
      <a href="{{ url_for('register') }}" class="btn btn-outline-primary rounded-pill px-4 mb-5">
        Add New User
      </a>
      <a href="{{ url_for('logout') }}" class="btn btn-outline-danger rounded-pill px-4 mb-5 mr-lg-2">
        Log Out
      </a>
    </div>
    {% with posts=posts %}
      {% include 'components/admin/posts.html' %}
    {% endwith %}
    <hr class="my-5">
    {% with messages=messages %}
      {% include 'components/admin/messages.html' %}
    {% endwith %}
  </div>
{% endblock %}
