{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}
{% block content %}
  <div class="py-5 container">
    <h2 class="text-center mb-5">Change Your Password</h2>
    <form action="/reset/{{ reset_token }}" method="post" class="card p-4 mx-auto" style="max-width: 700px;">
      <!--Anti-Robot Field-->
      {{ form.csrf_token }}
      <!--Errors list-->
      {{ wtf.form_errors(form, hiddens="only") }}
      <!--Form Fields-->
      {{ wtf.form_field(form.email, class='form-control', placeholder='Enter your email') }}
      {{ wtf.form_field(form.password, class='form-control', placeholder='Enter your new password') }}
      <button type="submit" class="btn btn-primary mt-2">
        Change Password
      </button>
    </form>
  </div>
{% endblock %}
