{% extends "base.html" %}
{% block content %}
  <div class="py-5 container">
    <div class="card m-5 p-5 text-center">
      <h2 class="mb-5">Thank you for contacting me!</h2>
      <h5 class="mb-5">Here is a copy of the message you just sent:</h5>
      <div class="d-flex mx-auto">
          <p style="font-weight: 500;" class="mr-2">Name:</p>
          <p>Test Name</p>
      </div>
      <div class="d-flex mx-auto">
          <p style="font-weight: 500;" class="mr-2">Phone Number:</p>
          <p>(111) 111-1111</p>
      </div>
      <div class="d-flex mx-auto">
          <p style="font-weight: 500;" class="mr-2">E-Mail:</p>
          <p>test@test.com</p>
      </div>
      <div class="d-flex mx-auto">
          <p style="font-weight: 500;" class="mr-2">Message:</p>
          <p>This is a test message</p>
      </div>
      <h5 class="mt-5 mb-4">I will try to contact you back as fast as possible.</h5>
      <a href="/" class="btn btn-primary py-3 px-5 mx-auto">Go Back</a>
    </div>
  </div>
{% endblock %}
