<div id="about">
  <h2 class="mb-4">
    About Me
  </h2>
  <p class="mb-4">
    My name is Pierre-Olivier Trottier. I am a software developer, graphic designer, and music producer based in Montreal, Canada.
    <br><br>
    I studied Software Engineering at Concordia University in Montreal and was part of the CO-OP program. I have had the chance to work for multiple awesome companies such as Ubisoft and Olympus Scientific Solution.
  </p>
  <a class="btn btn-primary rounded-pill px-4 py-2 text-white text-uppercase"
     style="font-weight: 500;"
     target="_blank"
     href="documents/resume.pdf">
    Download My Resume
  </a>
</div>
