<div class="bg-white py-5">
  <div id="contact" class="container py-4">
    <h2 class="mb-4">Contact Me</h2>
    <form action="#">
      <div class="col">
        <label class="row">
          <input placeholder="Name" class="mb-1">
        </label>
        <label class="row">
          <input placeholder="Phone Number" class="mb-1">
        </label>
        <label class="row">
          <input placeholder="E-mail Address" class="mb-1">
        </label>
        <textarea class="row" placeholder="Message"></textarea>
        <button type="submit" class="row btn btn-primary rounded-pill mt-4 px-4">
          Send
        </button>
        <button type="reset" class="btn btn-light rounded-pill mt-4 ml-4 px-4">
          Clear
        </button>
      </div>
    </form>
  </div>
</div>
