<hr class="my-0">
<div class="bg-light pt-3 py-md-5">
  <div class="container text-center text-md-left mt-2">
    <div class="row">
      <div class="col-md-7 mt-md-0 mt-3">
        <h5 class="text-uppercase">Pierre-Olivier Trottier</h5>
        <p class="text-dark"><b>Developer for Hire</b></p>
        <p style="opacity: 0.8;">
          My name is Pierre-Olivier Trottier. I am a software developer, graphic designer, and music producer based in Montreal, Canada.
          I studied Software Engineering at Concordia University in Montreal and was part of the CO-OP program. I have had the chance to work for multiple awesome companies such as Ubisoft and Olympus Scientififc Solution.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li class="my-1">
            <a href="/#about">About Me</a>
          </li>
          <li class="my-1">
            <a href="/#skills">Skill Set</a>
          </li>
          <li class="my-1">
            <a href="/#projects">Projects</a>
          </li>
          <li class="my-1">
            <a href="/blog">Blog</a>
          </li>
          <li class="my-1">
            <a href="/#contact">Contact me</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row bg-dark py-3">
  <p class="text-light text-center mx-auto mb-0">
    © 2020 Copyright - <b>Pierre-Olivier Trottier</b>
  </p>
</div>
