<div id="projects">
  <h2 class="mb-5">Projects</h2>
  <p class="mb-5">
    <b>Chargehub Beta</b>
    <br><br>
    VueJS Web App
    <br><br>
    I was responsible for the architecture and development of ChargeHub's Beta website. It runs in a Docker container on the Azure Cloud Platform.
    <br><br>
    <a href="https://beta.chargehub.com/">URL</a>
  </p>
  <p class="mb-5">
    <b>Instaclone</b>
    <br><br>
    Firebase
    <br><br>
      Lead a team that built an Instagram Clone using a Vue.JS front-end and a Firebase back-end.
    <br><br>
    <a href="https://soen341-instaclone.web.app/">URL</a>
  </p>
  <p class="mb-5">
    <b>VueJS Template</b>
    <br><br>
    VueJS CLI
    <br><br>
    I created a simple material design focused VueJS CLI template to help any new-comers start with a solid base that follows the preferred VueJS patterns.
    <br><br>
    <a href="https://template.p-o.design/">URL</a>
    <span> | </span>
    <a href="https://github.com/po-trottier/vuejs-material-template">Source Code</a>
  </p>
  <p class="mb-5">
    <b>Various Algorithm</b>
    <br><br>
    Java
    <br><br>
    I developed many optimized algorithms. This example determines if a subtree can be found in a bigger parent tree.
    <br><br>
    <a href="https://github.com/po-trottier/is-subtree">Source Code</a>
  </p>
</div>
