<div id="skills">
  <h2 class="mb-5">
    Skill Set
  </h2>
  <p class="mb-5">
    <b>FULL-STACK WEB DEVELOPMENT</b>
    <br><br>
    I have experience developing modern web-apps. I have worked on anything from a front-end server, to reactive content, to APIs and database queries.
    <br><br>
    Skills: VueJS, NodeJS, MySQL, NGINX, Docker
  </p>
  <p class="mb-5">
    <b>SOFTWARE DEVELOPMENT</b>
    <br><br>
    I have experience developing many different kinds of applications, from low-level SDKs, to mobile applications, to enterprise-level tools.
    <br><br>
    Skills: C# (WPF & WinForms), C++, Java;
  </p>
  <p class="mb-5">
    <b>GRAPHIC DESIGN</b>
    <br><br>
    I have designed logos and motion graphics for many different types of companies. I have also designed few websites, ranging from corporate pages to modern web-apps.
    <br><br>
    Skills: Logo Design, Web Design, Motion Graphics
  </p>
  <p>
    <b>MUSIC PRODUCTION</b>
    <br><br>
    I have been DJing, producing, mixing and mastering songs for over 7 years now. I had the chance of having few songs released by labels and have self-released more songs to streaming services.
    <br><br>
    Skills: Production, Mixing, Mastering, Sound Design
  </p>
</div>
