<div class="bg-white py-1">
  <div id="skills" class="container my-5 py-4">
    <h2 class="mb-5 text-center">
      Skill Set
    </h2>
    <div class="row">
      <div class="col-lg-6 pb-4">
        <div class="card p-5">
          <h5 class="mb-4 text-uppercase">
            Full-stack web development
          </h5>
          <p>
            I have experience developing modern web-apps. I have worked on anything from a front-end server, to reactive content, to APIs and database queries.
          </p>
          <p class="mb-0">
            <b>Skills:</b> VueJS, NodeJS, Flask, SQL, Docker
          </p>
        </div>
      </div>
      <div class="col-lg-6 pb-4">
        <div class="card p-5">
          <h5 class="mb-4 text-uppercase">
            Software Development
          </h5>
          <p>
            I have experience developing many different kinds of applications, from low-level SDKs, to mobile applications, to enterprise-level tools.
          </p>
          <p class="mb-0">
            <b>Skills:</b> C# (WPF & WinForms), C++, Java
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 pb-4">
        <div class="card p-5">
          <h5 class="mb-4 text-uppercase">
            Graphic design
          </h5>
          <p>
            I have designed logos and motion graphics for many different types of companies. I have also designed few websites, ranging from corporate pages to modern web-application.
          </p>
          <p class="mb-0">
            <b>Skills:</b> Logo Design, Web Design, Graphic Design
          </p>
        </div>
      </div>
      <div class="col-lg-6 pb-4">
        <div class="card p-5">
          <h5 class="mb-4 text-uppercase">
            Music production
          </h5>
          <p>
            I have been DJing, producing, mixing and mastering songs for over 7 years now. I have also released few songs to streaming services such as Spotify and Apple Music.
          </p>
          <p class="mb-0">
            <b>Skills:</b> Mixing, Mastering, Sound Design
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
